.events-container {
  font-weight: 300;
  padding: 40px;
  display: flex;
  align-items: center;
  position: relative;
  height: auto;
  justify-content: center;
}

#events {
  text-align: center;
}

.event-title {
  font-size: 6rem;
}

.events-container .container {
  display: flex;
}

.events-container .card-container {
  margin-bottom: 75rem;
}

.events-container .cards {
  /* margin-left: 50px; */
  margin: 0 auto;
}

.events-container .card {
<<<<<<< Updated upstream
  text-align: center;
  height: 30rem;
=======
  height: 20rem;
>>>>>>> Stashed changes
  width: 60rem;
  background: #000101;
  border-radius: 1rem;
  /* margin-bottom: 5rem; */
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.events-container .card h1 {
  font-size: 5rem;
  /* color: white; */
  text-align: center;
  margin: 0;
  padding: 0;
}

.events-container .card p {
  font-size: 2rem;
}

.sphere {
  position: absolute;
}
.sphere img {
  height: 8rem;
  width: 8rem;
}
.downward {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  bottom: 0;
}

.event-name {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  font-size: 6rem;
  font-style: normal;
  line-height: normal;
  color: transparent;
  letter-spacing: max(0.5rem, 0.2rem);
  text-transform: uppercase;
}
.event-name > span {
  color: #061e9c;
}
#spanTwo {
  color: #ecb74c;
}
#spanThree {
  color: #7dd8cd;
}
#spanFour {
  color: #e0ff57;
}
.card a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 1286px) {
  .events-container .card {
    width: 50rem;
  }
  .card p {
    font-size: 2rem;
  }
  .event-name {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 1024px) {
  .events-container .card {
    width: 44rem;
  }
  .card p {
    font-size: 1.5rem;
  }
  .event-name {
    font-size: 5rem;
  }
}
@media (max-width: 930px) {
  .events-container .card {
    width: 40rem;
  }
  .events-container .card p {
    font-size: 1.7rem;
  }
  #head {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .events-container .card p {
    font-size: 1.7rem;
  }
  #head {
    font-size: 5rem;
  }
  .sphere img {
    width: 8rem;
    height: 8rem;
  }
}
@media only screen and (max-width: 616px) {
  .events-container .card {
    width: 34rem;
  }
  #headtwo {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 480px) {
  .events-container .card {
    width: 24rem;
  }
  .events-container .card p {
    font-size: 1.4rem;
  }
  #head {
    font-size: 4rem;
  }
  .sphere img {
    height: 6rem;
    width: 6rem;
  }
  #headtwo {
    font-size: 2.3rem;
  }
}
@media (max-width: 420px) {
  .events-container .card {
    width: 20rem;
  }
  .events-container .card p {
    font-size: 1.3rem;
  }
  #head {
    font-size: 3rem;
  }
  #headtwo {
    font-size: 2rem;
  }
  .sphere img {
    width: 5rem;
    height: 5rem;
  }
  .event-title {
    font-size: 3rem;
  }
}
@media (max-width: 391px) {
  .events-container .card {
    width: 18rem;
  }
  .events-container .card p {
    font-size: 1rem;
  }
  #head {
    font-size: 2.4rem;
  }
  #headtwo {
    font-size: 1.5rem;
  }
}

@media (max-width: 350px) {
  .events-container .card {
    width: 16rem;
  }
}
@media (max-width: 320px) {
  .events-container .card {
    width: 14rem;
  }
  .events-container .card p {
    font-size: 0.9rem;
  }
  #head {
    font-size: 2rem;
  }
  #headtwo {
    font-size: 1rem;
  }
  .sphere img {
    width: 4rem;
    height: 4rem;
  }
}
