.events-container {
  font-weight: 300;
  padding: 40px;
  display: flex;
  align-items: center;
  position: relative;
  height: auto;
  justify-content: center;
}

.events-container .container {
  display: flex;
}
.events-container .card-container {
  margin-bottom: 75rem; /* Adjust this value to add spacing between card containers */
}

.events-container .cards {
  margin-left: 50px;
}
.events-container .card {
  height: 30rem;
  width: 60rem;
  background: #000101;
  border-radius: 1rem;
  /* margin-bottom: 5rem; */
}

.events-container .card h1 {
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-size: 10rem;
  color: white;
  text-align: center;
}