.events-container {
  font-weight: 300;
  padding: 40px;
  display: flex;
  align-items: center;
  position: relative;
  height: auto;
  justify-content: center;
}

#events {
  text-align: center;
}

.event-title {
  font-size: 6.5rem;
}

.events-container .container {
  display: flex;
}

.events-container .card-container {
  margin-bottom: 75rem;
}

.events-container .cards {
  margin-left: 50px;
}

.events-container .card {
  text-align: center;
  height: 30rem;
  width: 60rem;
  background: #000101;
  border-radius: 1rem;
  /* margin-bottom: 5rem; */
}

.events-container .card h1 {
  font-size: 5rem;
  /* color: white; */
  text-align: center;
}

.events-container .card p {
  font-size: 2rem;
}

.sphere {
  position: absolute;
}

.downward {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.event-name {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  font-size: 6rem;
  font-style: normal;
  line-height: normal;
  color: transparent;
  letter-spacing: max(0.5rem, 0.2rem);
  text-transform: uppercase;
}
.event-name > span {
  color: #30a2d7;
}
.card a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 1286px) {
  .events-container .card {
    width: 50rem;
  }
  .card p {
    font-size: 2rem;
  }
  .event-name {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 1024px) {
  .events-container .card {
    width: 44rem;
  }
  .card p {
    font-size: 1.5rem;
  }
  .event-name {
    font-size: 5rem;
  }
}
@media (max-width: 930px) {
  .events-container .card {
    width: 40rem;
  }
  .events-container .card p {
    font-size: 1.7rem;
  }
  #head {
    font-size: 4rem;
  }
  #space {
    margin-top: 10%;
  }
}
@media only screen and (max-width: 768px) {
  .events-container .card p {
    font-size: 1.5rem;
  }
  #head {
    font-size: 3rem;
  }
  .sphere img {
    width: 8rem;
  }
  .downward {
    bottom: 0;
  }
  #space {
    margin-top: 15%;
  }
}
@media only screen and (max-width: 616px) {
  .events-container .card {
    width: 34rem;
  }
}
@media only screen and (max-width: 480px) {
  .events-container .card {
    width: 24rem;
  }
  .events-container .card p {
    font-size: 1rem;
  }
  #head {
    font-size: 2rem;
  }
  .sphere img {
    width: 6rem;
  }
  #space {
    margin-top: 40%;
  }
}
@media (max-width: 420px) {
  .events-container .card {
    width: 20rem;
  }
  .events-container .card p {
    font-size: 1rem;
  }
  #head {
    font-size: 1.8rem;
  }
  .sphere img {
    width: 5rem;
  }
}
@media (max-width: 391px) {
  .events-container .card {
    width: 18rem;
  }
  .events-container .card p {
    font-size: 0.7rem;
  }
  #head {
    font-size: 1.3rem;
  }
}

@media (max-width: 350px) {
  .events-container .card {
    width: 16rem;
  }
  #space {
    margin-top: 50%;
  }
}
@media (max-width: 320px) {
  .events-container .card {
    width: 14rem;
  }
  .events-container .card p {
    font-size: 0.5rem;
  }
  #head {
    font-size: 1rem;
  }
  .sphere img {
    width: 4rem;
  }
  #space {
    margin-top: 70%;
  }
}
