body {
  --header-height: 3rem;
}
.header--hidden {
  transform: translateY(calc(-2 * var(--header-height)));
}

header {
  top: 0;
  padding: 1.2rem 0rem 0.7rem 0rem;
  background-color: #08051f;
  position: sticky;
  top: 0;
  z-index: 50;
  height: var(--header-height);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: auto;
  
}
/* .logo {
  z-index: 222222222222222;
} */
.logo img {
  width: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
}

li {
  padding: 0rem 1.1rem;
  float: left;
}

li a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  opacity: 0.8;
  transition: background-size 0.5s ease-in-out;
  background-image: linear-gradient(#ffffff, #ffffff);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
}

li a.active,
li a:hover,
li a:focus {
  opacity: 1;
  background-size: 100% 0.1em;
}

#click {
  display: none;
}

.menu {
  display: none;
}
.community {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding-right: 3.3rem;
}
.button {
  text-decoration: none;
  border-radius: 0.2rem;
  border: 1px solid white;
  background-color: #08051f;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  transition: all 0.4s ease-in-out;
}
.button:hover {
  background-color: white;
  color: #08051f;
}

@media only screen and (max-width: 1024px) {
  nav {
    max-width: 98%;
  }
  .community {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }

  nav {
    max-width: 100%;
    margin: 0 1rem;
  }
}
@media only screen and (max-width: 616px) {
  header {
    height: auto;
  }

  li {
    padding: 1rem 1.1rem;
  }

  .menu {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }

  ul {
    background-color: #08051f;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 3.5rem;
    left: -100%;
    z-index: 111111;
  }

  #click:checked ~ ul {
    left: 0%;
    transition: all 0.3s ease;
  }
  .button {
    position: absolute;
    right: 4rem;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 85%;
  }
  .community {
    display: none;
  }
}
