* {
    font-family: "Odibee Sans", sans-serif;
    font-weight: lighter;
    transition: all 0.4s linear;
  }
  body {
    background-color: #08051f;
    color: white;
    margin: 0;
    height: 100vh;
    scroll-behavior: initial;
  }
  ::-webkit-scrollbar {
    width: 0.7rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #080041;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #080041;
  }
  ::-webkit-scrollbar-track {
    background: black;
  }
  ::-webkit-scrollbar-thumb {
    background: #0c082e;
  }
  ::-webkit-scrollbar-corner {
    background: #000000;
  }
  .header {
    top: 0;
    background-color: #08051f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
  }
  .logo {
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    width: 4.3rem;
  }
  .pages {
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  .pages a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    padding: 0 0.9rem;
    opacity: 0.8;
  }
  .pages a:hover {
    text-decoration: underline;
    opacity: 1;
  }
  .community {
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  .button {
    text-decoration: none;
    border-radius: 0.2rem;
    border: 1px solid white;
    background-color: #08051f;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
  }
  .button:hover {
    background-color: white;
    color: #08051f;
  }
  .name {
    font-size: 3.5rem;
    margin: 11% 24%;
  }
  .name h1 {
    margin: 0;
  }
  .vecone img {
    position: absolute;
    top: 3rem;
    right: 20rem;
    width: 19rem;
  }
  .ones {
    position: absolute;
    top: 13rem;
    left: 20rem;
  }
  .twos {
    position: absolute;
    right: 20rem;
    bottom: 10rem;
  }
  .social {
    padding: 0 5rem;
    position: absolute;
    top: 32rem;
  }
  .insta {
    padding-bottom: 0.7rem;
  }
  .twit {
    padding-bottom: 0.7rem;
  }
  .link {
    padding-bottom: 0.7rem;
  }
  .line {
    width: 1px;
    height: 4rem;
    background-color: white;
    margin: 0 0.7rem;
  }
  .scrol {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .scrol a {
    color: white;
    font-size: 1rem;
  }
  .bline {
    width: 8rem;
    height: 0.3rem;
    background-color: white;
  }
  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
  }
  .info {
    padding: 5rem 5rem 5rem 0rem;
    width: 50%;
  }
  #acm {
    font-size: 6rem;
  }
  .info h1 {
    margin: 0;
  }
  .socials {
    display: flex;
    align-items: center;
  }
  .lin {
    margin-right: 0.7rem;
  }
  .ins {
    margin-right: 0.7rem;
  }
  .twi {
    margin-right: 0.7rem;
  }
  .aboutacm {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .linee {
    height: 0.4rem;
    width: 9rem;
    background-color: white;
    margin-bottom: 1rem;
  }
  .aboutacm p {
    font-family: "Work Sans", sans-serif;
    margin-bottom: 2rem;
    line-height: 2rem;
  }
  .part {
    width: 50%;
  }
  .gallery {
    display: flex;
    align-items: center;
  }
  .first {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 2rem;
  }
  .first img {
    width: 15rem;
    height: 15rem;
    z-index: 10;
    margin: 0.2rem;
    border-radius: 2rem;
    border: 0.2rem solid white;
  }
  .s-one {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    margin-left: 30rem;
  }
  .s-two {
    display: flex;
    position: absolute;
    margin-top: 26rem;
  }
  #picone {
    transform: rotate(10deg);
    z-index: 20;
    width: 15.5rem;
    height: 15.5rem;
  }
  .btn_one i {
    color: white;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 1.4rem;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.4s linear;
    display: none;
  }
  .sidebar_menu {
    position: fixed;
    top: 0;
    right: -400px;
    height: 100vh;
    width: 250px;
    background-color: black;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.4s linear;
  }
  .sidebar_menu ul {
    list-style-type: none;
  }
  .sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    height: 60px;
  }
  .sidebar_menu .logo a {
    position: absolute;
    padding-left: 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
  }
  .sidebar_menu .btn_two i {
    color: grey;
    font-size: 20px;
    position: absolute;
    right: 15px;
    line-height: 60px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.4s linear;
  }
  .sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
    margin-left: -20px;
  }
  .sidebar_menu .menu li {
    margin-top: 6px;
    padding: 14px;
  }
  .sidebar_menu .menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  .sidebar_menu .social_media {
    position: absolute;
    right: 25%;
    bottom: 50px;
  }
  .sidebar_menu .social_media i {
    color: white;
    opacity: 0.5;
    padding: 0 5px;
  }
  #check {
    display: none;
  }
  .sidebar_menu .menu li:hover {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  }
  .btn_one i:hover {
    font-size: 30px;
  }
  .btn_two i:hover {
    font-size: 22px;
  }
  .sidebar_menu .social_media i:hover {
    opacity: 1;
    transform: scale(1.2);
  }
  #check:checked ~ .sidebar_menu {
    right: 0;
  }
  #check:checked ~ .btn_one i {
    opacity: 0;
  }
  #check:checked ~ .sidebar_menu .btn_two i {
    opacity: 1;
  }
  @media (max-width: 775px) {
    #aboutus {
      flex-wrap: wrap;
    }
    .vecone {
      display: none;
    }
    .info {
      width: 100%;
    }
    .part {
      width: 100%;
    }
    .btn_one {
      display: block;
    }
    .header {
      padding: 1rem;
    }
    .community {
      display: none;
    }
    .pages {
      display: none;
    }
    .btn_one i {
      display: block;
    }
    .social {
      display: none;
    }
  }
  