.image-container {
  position: relative;
}
.category-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 3rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.category-buttons button.selected {
  background-color: white;
  color: #08051f;
}
.category-buttons button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 7rem;
  font-size: 1rem;
}
.category-buttons button:hover {
  background-color: white;
  color: #08051f;
}
.tooltip {
  position: absolute;
  bottom: 47%;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: default;
}

.image-container:hover .tooltip {
  opacity: 1;
}

.prt1 {
  display: flex;
  padding: 4rem 15rem;
  font-family: "Work Sans", sans-serif;
}

.galleryImg1 {
  height: 30rem;
  padding-left: 5rem;
}
#galleryPara2 {
  font-size: 3rem;
  font-family: "Odibee Sans", sans-serif;
}

#galleryPara1 {
  line-height: 2rem;
  font-size: 1.9rem;
  color: white;
  opacity: 0.7;
  text-align: justify;
}

.paras {
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
  justify-content: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-width: 1800px;
  margin: 0 auto;
}

.image-grid img {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
}
.image-grid img:hover {
  opacity: 0.2;
}

@media only screen and (max-width: 1286px) {
  .galleryImg1 {
    height: 24rem;
    padding: 0;
  }
  #galleryPara1 {
    font-size: 1.5rem;
  }
  .prt1 {
    padding: 7rem 7rem;
  }
  .image-grid img {
    width: 17rem;
    height: 17rem;
  }
}
@media only screen and (max-width: 1024px) {
  .galleryImg1 {
    height: 19rem;
    padding: 2rem 0;
  }
  .image-grid img {
    width: 13rem;
    height: 13rem;
  }
}
@media (max-width: 930px) {
  #galleryPara1,
  .galleryImg1 {
    display: none;
  }
  .prt1 {
    padding: 2rem;
  }
}
@media (max-width: 900px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .prt1 {
    padding: 2rem 3rem;
  }
}
@media only screen and (max-width: 768px) {
}
@media (max-width: 700px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  #galleryPara2 {
    font-size: 2.9rem;
  }
}
@media only screen and (max-width: 616px) {
  #galleryPara2 {
    font-size: 2.4rem;
  }
}
@media (max-width: 500px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .image-grid img {
    width: 16rem;
    height: 16rem;
  }
  #galleryPara2 {
    font-size: 2.9rem;
  }
}
@media only screen and (max-width: 480px) {
  .image-grid img {
    width: 14rem;
    height: 14rem;
  }
}
@media (max-width: 473px) {
  #galleryPara2 {
    font-size: 2.3rem;
  }
}
@media (max-width: 420px) {
  .image-grid img {
    width: 12rem;
    height: 12rem;
  }
  #galleryPara2 {
    font-size: 2.4rem;
  }
}
@media (max-width: 419px) {
  #galleryPara2 {
    font-size: 2.1rem;
  }
}
@media (max-width: 391px) {
  .image-grid img {
    width: 11rem;
    height: 11rem;
  }
  #galleryPara2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 350px) {
  .image-grid img {
    width: 10rem;
    height: 10rem;
  }
  #galleryPara2 {
    font-size: 1.4rem;
  }
}
@media (max-width: 320px) {
  .image-grid img {
    width: 8rem;
    height: 8rem;
  }
  #galleryPara2 {
    font-size: 1.3rem;
  }
}
@media (max-width: 300px) {
  #galleryPara2 {
    font-size: 1rem;
  }
}
